<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<h1>Create Product</h1>
<form id="productForm">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"  required>
    <br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description"  required>
    <br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price"  required>
    <br>
    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" name="imageUrl" required>
    <br>


    <button type="button" onclick="saveProduct()">Save</button>
</form>

<script>
    function saveProduct() {
        const product = {
            name: document.getElementById("name").value,
            description: document.getElementById("description").value,
            price: parseFloat(document.getElementById("price").value),
            imageUrl: document.getElementById("imageUrl").value
        };

        const url = "http://localhost:8081/api/products"; // Replace with your API endpoint



        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(product)
        })
            .then(response => response.json())
            .then(data => {
                window.location.href = "/products/"+data.id;
                // You can redirect to another page or handle the response as needed
            })
            .catch(error => {
                console.error("Error creating product:", error);
            });
    }
</script>
</body>
</html>
